.Product {
  border: 1px solid #ccc;
  border-radius: 24px;
  margin: 10px;
  width: 200px;
  height: 185px;
  text-align: center;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.Product:hover {
  transform: scale(1.05);
}
